@import "../../common/colors.scss";

.header {
  background-color: $secondary-colour;
  align-items: center;
  height: 4rem;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.logo {
  text-decoration: none;
  color: $font-primary;
  font-size: 1.5rem;
  font-weight: 900;
}
.user-img {
  & img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}
