@import "../../common/colors.scss";

.footer {
    color: $font-secondary;
    align-items: center;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    background-color: $secondary-colour;
    padding: 1rem 0;
    z-index: 20;
}