@import "./common/colors.scss";

* {
  margin: 0;
  padding: 0;
  color: $font-primary;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: $primary-colour;
}

.container {
  padding: 0 40px;
  height: 100%;
  width: 100%;
}
